Repository ede1998/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-dummy-secrets, nix-fmt

sync-dummy-secrets:
  name: Keep secrets and secrets-dummy in sync
  entry: utils/sync-secrets
  language: system
  pass_filenames: false

nix-fmt:
  name: Format nix files
  entry: nix fmt
  language: system

chore: Bump flake.lock
  flake.lock
Due: none

feat(vscode): gemini -> copilot
  home-manager/vscode/default.nix
Due: nix-fmt

feat(openscad): BOSL2
  home-manager/openscad.nix
Due: nix-fmt

chore(patreon-dl): 3.8.1 -> 3.9.0
  pkgs/patreon-dl/default.nix
Due: nix-fmt

feat: krdc + win11 rdp
  home-manager/babbage.nix
  home-manager/krdc.nix
  home-manager/larc.nix
  home-manager/pkgs.nix
  secrets-dummy/win11-rdp.json
  secrets/win11-rdp.json
Due: sync-dummy-secrets, nix-fmt

feat: Improve win11 rdp desktop entry
  home-manager/icon-win11.svg
  home-manager/krdc.nix
Due: nix-fmt

Path conditions:
  sync-dummy-secrets: any of: ^secrets/.*$|^secrets/.*$
  nix-fmt: any of: \.nix$
