Repository ede1998/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-dummy-secrets, nix-fmt

sync-dummy-secrets:
  name: Keep secrets and secrets-dummy in sync
  entry: utils/sync-secrets
  language: system
  pass_filenames: false

nix-fmt:
  name: Format nix files
  entry: nix fmt
  language: system

chore: Bump flake.lock
  flake.lock
Due: none

fix: Try ensuring ollama runs on GPU and not CPU
  nixos/babbage/configuration.nix
Due: nix-fmt

feat: Remove GitHub Copilot controls from VSCode
  home-manager/vscode/default.nix
Due: nix-fmt

feat: Add fluffychat
  home-manager/pkgs.nix
  overlays/default.nix
Due: nix-fmt

feat: Upgrade zellij
  home-manager/terminal/konsole.nix
  home-manager/terminal/zellij.nix
  nixos/babbage/configuration.nix
Due: nix-fmt

fix: Larc wifi at home
  nixos/larc/configuration.nix
  secrets-dummy/home-wifi.json
  secrets/home-wifi.json
Due: sync-dummy-secrets, nix-fmt

fix: Larc system tray missing
  README.md
  home-manager/plasma.nix
Due: nix-fmt

chore: Bump flake.lock
  flake.lock
  overlays/default.nix
Due: nix-fmt

fix(update-custom-pkgs): Wrong version in PR title
  .github/workflows/update-custom-pkgs.yml
Due: none

chore(koi): 0.5 -> 0.5.1
  pkgs/koi/default.nix
Due: nix-fmt

feat: Add Garnix cache
  home-manager/home.nix
  nixos/nix.nix
Due: nix-fmt

feat: Add cache.nixos.org back to substituters
  home-manager/home.nix
  nixos/nix.nix
Due: nix-fmt

feat: Install OpenSCAD
  home-manager/pkgs.nix
Due: nix-fmt

feat: Install OpenSCAD BOSL library
  home-manager/babbage.nix
  home-manager/larc.nix
  home-manager/openscad.nix
  home-manager/pkgs.nix
Due: nix-fmt

Path conditions:
  sync-dummy-secrets: any of: ^secrets/.*$|^secrets/.*$
  nix-fmt: any of: \.nix$
