Repository ede1998/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-dummy-secrets, nix-fmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: sync-dummy-secrets
        name: Keep secrets and secrets-dummy in sync
        entry: utils/sync-secrets
        language: system
        files: '^secrets/.*$|^secrets/.*$'
        pass_filenames: false
      - id: nix-fmt
        name: Format nix files
        entry: nix fmt
        language: system
        types: [nix]
      - id: nix-flake-check
        name: Check if flake builds
        entry: nix flake check
        language: system
        pass_filenames: false
        stages: [pre-push] # because slow

feat: Add crates extension to VSCode
  home-manager/vscode/default.nix
Due: nix-fmt

chore: Bump flake.lock
  flake.lock
Due: none

feat: Remove git pulling with password
  home-manager/auto-pull.nix
  secrets-dummy/autoPullNixCfg.cred
  secrets/autoPullNixCfg.cred
Due: sync-dummy-secrets, nix-fmt

feat: Improve and enable larc config
  flake.nix
  home-manager/larc.nix
  home-manager/plasma.nix
  nixos/babbage/configuration.nix
  nixos/boot.nix
  nixos/larc/configuration.nix
  nixos/larc/disks.nix
  nixos/larc/hardware-configuration.nix
  nixos/user.nix
Due: nix-fmt

feat: Hardware config larc
  configuration.nix
  home-manager/larc.nix
  nixos/larc/configuration.nix
  nixos/larc/hardware-configuration.nix
  shell.nix
Due: nix-fmt

style: Run autoformat
  home-manager/firefox.nix
  home-manager/gaming.nix
  modules/home-manager/initial-config/vorta.nix
  shell.nix
Due: nix-fmt

style: Ignore formatting commit
  .git-blame-ignore-revs
Due: none

docs: Fix typo
  README.md
Due: none

feat: Enable git lfs
  home-manager/terminal/git.nix
Due: nix-fmt

fix: Code warning
  nixos/larc/hardware-configuration.nix
Due: nix-fmt

fix: Auto pull by using ssh only for github push
  home-manager/terminal/git.nix
Due: nix-fmt

feat: Add zri navi helper for inside nix-shell
  home-manager/terminal/navi/main.cheat
Due: none

chore(koi): 0.3.1 -> 0.4
  pkgs/koi/default.nix
Due: nix-fmt

feat: Small fixes to auto package update
  .github/workflows/update-custom-pkgs.yml
Due: none

Update update-custom-pkgs.yml
  .github/workflows/update-custom-pkgs.yml
Due: none

feat: Don't run nix flake on push without nix chg
  .pre-commit-config.yaml
Due: none
