Repository ede1998/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-dummy-secrets, nix-fmt

sync-dummy-secrets:
  name: Keep secrets and secrets-dummy in sync
  entry: utils/sync-secrets
  language: system
  pass_filenames: false

nix-fmt:
  name: Format nix files
  entry: nix fmt
  language: system

chore: Bump flake.lock
  flake.lock
Due: none

feat: Add gpg key and setup script
  README.md
  home-manager/terminal/navi/main.cheat
  secrets/gpg/dev.key
  secrets/gpg/dev.pub.key
  utils/import-gpg-key
Due: sync-dummy-secrets

fix: Remove accidentally committed empty config
  configuration.nix
Due: nix-fmt

feat: 38C3 wifi config
  nixos/larc/configuration.nix
Due: nix-fmt

fix: Plasma panel for larc
  home-manager/plasma.nix
Due: nix-fmt

feat: Add new word to VSC spell check
  home-manager/vscode/vscode-spelling.nix
Due: nix-fmt

feat: Add home wifi config to larc
  nixos/larc/configuration.nix
  secrets-dummy/home-wifi.json
  secrets/home-wifi.json
Due: sync-dummy-secrets, nix-fmt

fix: Missing pdfinfo for rename_bills.sh script
  home-manager/pkgs.nix
Due: nix-fmt

feat: Disable firefox relay
  home-manager/firefox.nix
Due: nix-fmt

Path conditions:
  sync-dummy-secrets: any of: ^secrets/.*$|^secrets/.*$
  nix-fmt: any of: \.nix$
