Repository ede1998/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-dummy-secrets, nix-fmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: sync-dummy-secrets
        name: Keep secrets and secrets-dummy in sync
        entry: utils/sync-secrets
        language: system
        files: '^secrets/.*$|^secrets/.*$'
        pass_filenames: false
      - id: nix-fmt
        name: Format nix files
        entry: nix fmt
        language: system
        types: [nix]
      - id: nix-flake-check
        name: Check if flake builds
        entry: nix flake check
        language: system
        pass_filenames: false
        stages: [pre-push] # because slow

chore: Bump flake.lock
  flake.lock
Due: none

chore(cura5): 5.9.1 -> 5.10.0
  pkgs/cura5/default.nix
Due: nix-fmt

feat(ypreparebanking): Handle stock buy pdf
  pkgs/ede1998-utilities/ypreparebanking
Due: none

style: Replace nixfmt-rfc-style with treefmt
  flake.nix
  treefmt.toml
Due: nix-fmt

feat: Nextcloud tag sync configuration
  README.md
  flake.lock
  flake.nix
  home-manager/babbage.nix
  home-manager/nextcloud.nix
  secrets-dummy/nextcloud.json
  secrets/nextcloud.json
Due: sync-dummy-secrets, nix-fmt

feat: enable auto expire of old home-manager generations
  home-manager/home.nix
Due: nix-fmt

feat(vscode): migrate to new crates extension
  home-manager/vscode/default.nix
Due: nix-fmt

feat: Update nextcloud_tag_sync
  flake.lock
Due: none

chore(koi): 0.4 -> 0.5
  pkgs/koi/default.nix
Due: nix-fmt

fix: Koi autostart
  modules/home-manager/initial-config/koi.nix
Due: nix-fmt

feat: Enable ollama
  home-manager/terminal/navi/main.cheat
  home-manager/vscode/default.nix
  nixos/babbage/configuration.nix
Due: nix-fmt
